.feed {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  flex: 1;
  max-width: 800px;
  overflow-y: auto;
  /* height: calc(100vh - 60px) !important; */
  /* height: 100%; */
}

/* .feed::-webkit-scrollbar {
  display: none;
} */
