.story,
.story-noImage {
  flex: 1;
  height: 13.75rem;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.15s ease-in;
}

.story {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.story-noImage {
  background: linear-gradient(to right, #a770ef 0%, #cf8bf3 50%, #fdb99b 100%);
}

.story:hover,
.story-noImage:hover {
  transform: scale(1.03);
}

.story__username {
  color: white;
}

.story__avatar-container {
  width: 44px;
  height: 44px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #896af3 0%, #53b8f7 100%);
}

.story__avatar {
  width: 40px;
  /* min-width: 40px; */
  height: 40px;
  border-radius: 15px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid white;
}

.story__caption {
  color: floralwhite;
  font-size: 15px;
  text-align: center;
  white-space: normal;
  overflow: hidden;
}
