* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  width: 100%;
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: #896af3;
  --text-color: #000;
  --gray-color: #888888;
  --red-color: #f24a53;
  --green-color: #5ec027;
  --background-color: #eaeef8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
  font-size: 16px;
}

/* Common CSS */
.p-15 {
  padding: 15px;
}

.br-10 {
  border-radius: 10px;
}

.shadow {
  box-shadow: 0 5px 17px -7px rgba(0, 0, 0, 0.25);
}

.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar-hasStory {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 4px solid var(--main-color);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.badge-blue {
  width: 22px;
  height: 22px;
  color: white;
  background-color: var(--main-color);
  font-size: 13px;
  text-align: center;
  line-height: 22px;
  border-radius: 50%;
}

.badge-red {
  width: 22px;
  height: 22px;
  color: white;
  background-color: var(--red-color);
  font-size: 13px;
  text-align: center;
  line-height: 22px;
  border-radius: 50%;
}
